@import url('reset.css');
@import url('font.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #09090B;
    gap: 12px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1488px;
    height: 70px;
    padding: 0 24px;
}

main {
    display: flex;
    flex-direction: column;
    width: 1440px;
    gap: 24px;
    font-family: "Geist", sans-serif;
    color: #FAFAFA;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #18181B;
    border-radius: 24px;
    width: 1440px;
    padding: 48px;
    font-family: "Geist", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.nav-logo {
    background-image: url();
    width: 189px;
    height: 40px;
}

.nav-links {
    display: flex;
    gap: 12px;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

.nav-link {
    display: flex;
    padding: 2px 6px;
    color: #FAFAFA;
    width: 152px;
    gap: 10px;
}



.eschkere {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18px;
    color: #52525B;
}

.white {
    color: #FAFAFA;
}

.eschkere-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    background-color: #18181B;
    border-radius: 24px;
    height: 240px;
    width: 100%;
}

.vacancy-title-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 60px;
        font-weight: bold;
    }
}

.vacancy-meta-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p {
        font-size: 18px;
    }
}

.vacancy-tags {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}



.content-layout {
    display: flex;
    width: 100%;
    gap: 24px;
}

.sidebar-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 464px;
    border-radius: 24px;
    padding: 24px;
    gap: 18px;
    background-color: #18181B;
    p {
        font-size: 28px;
        font-weight: bold;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.button {
    display: flex;
    padding: 7px 32px;
    height: 50px;
    border-radius: 14px;
    color: #FAFAFA;
    background-color: #0077FF;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: all ease-in 0.2s;
}
.button:hover{
    background-color: white;
    color: black;
}

.black {
    background-color: #27272A;
}

.main-company {
    display: flex;
    flex-direction: column;
    width: 464px;
    border-radius: 24px;
    background-color: #18181B;
    padding: 24px;
    gap: 18px;
}

.company-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    p {
        font-size: 16px;
        width: 331px;
    }
}

.VK {
    display: flex;
    gap: 12px;
    align-items: center;
    a {
        font-size: 28px;
        font-weight: bold;
        color: #FAFAFA;
    }
}

#VK-icon {
    background-image: url();
    border-radius: 263px;
    width: 60px;
    height: 60px;
}

.vacancy-details {
    display: flex;
    flex-direction: column;
    background-color: #18181B;
    border-radius: 24px;
    width: 100%;
    padding: 12px;
    gap: 12px;
    color: #E4E4E7;
    p {
        font-size: 20px;
        font-weight: bold;
    }
    li {
        list-style: circle;
        font-size: 18px;
        list-style-position: inside;
        line-height: 130%;
    }
}

.details-section {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
    gap: 12px;
}

.footer-vertical {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.footer-vertical-left {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 24px;
}

#logo {
    font-size: 30px;
    font-weight: bolder;
}

.footer-button {
    display: flex;
    height: 44px;
    border-radius: 14px;
    background-color: #FAFAFA;
    padding: 7px 24px;
    align-items: center;
    justify-content: center;
    color: #09090B;
}

.footer-vertical-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 24px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background-color: #18181B;
    padding: 10px;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.good-hr {
    width: 100%;
    height: 2px;
    background-color: #FAFAFA;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: inherit;
}

@media (max-width: 1220px) {
    .mobile-only {
        display: inherit;
    }

    .desctop-only {
        display: none;
    }

    body {
        padding-right: 12px;
        padding-left: 12px;
        padding-bottom: 48px;
        gap: 24px;
    }

    nav {
        width: 100%;
    }
    
    main {
        width: 100%;
    }

    footer {
        width: 100%;
        padding: 12px;
    }

    .main-offer-title {
        padding: 12px;
    }

    .vacancy-title-section {
        h1 {
            font-size: 24px;
        }
    }

    .vacancy-meta-section {
        flex-direction: column;
        gap: 12px;
        align-items:  flex-start;
    }

    .block {
        padding: 6px 20px;
        gap: 10px;
        height: fit-content;
        width: fit-content;
        p {
        font-size: 16px;
        }
    }

    .content-layout {
        flex-direction: column;
    }

    .sidebar-cards-preview {
        width: 100%;
    }

    .main-company {
        width: 100%;
    }

    .footer-vertical {
        flex-direction: column;
        gap: 96px;
    }

    .footer-vertical-left {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .footer-vertical-right {
        gap: 24px;
    }

    #mobile-version {
        margin-top: 96px;
    }
}